$dc: #1698d9; // Default card color
$dch: #22a7e9; // Default card hover color
$ac: #d91667; // Active card color
$ach: #e52e7a; //Active card hover color
$dis: #b3b3b3; // Disabled card color
$fc: #666; //Font color

.card {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: fit-content;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  color: $fc;

  &__back {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 480px;
    background-color: $dc;

    border-radius: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    -webkit-clip-path: polygon(
      13% 0,
      100% 0,
      100% 63%,
      100% 100%,
      0 100%,
      0 60%,
      0 8%
    );
    clip-path: polygon(13% 0, 100% 0, 100% 63%, 100% 100%, 0 100%, 0 60%, 0 8%);
    -moz-clip-path: polygon(
      13% 0,
      100% 0,
      100% 63%,
      100% 100%,
      0 100%,
      0 60%,
      0 8%
    );

    &_type_disabled {
      background-color: $dis;
      color: $dis;
    }

    &_type_active {
      background-color: $ac;
    }

    &_hovered_active {
      background-color: $ach;
    }
    &_hovered_default {
      background-color: $dch;
    }
  }

  &__content {
    position: relative;

    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 312px;
    height: 472px;
    padding: 17px 44px;
    border-radius: 12px;

    text-align: left;
    overflow: hidden;
    -webkit-clip-path: polygon(
      13% 0,
      100% 0,
      100% 63%,
      100% 100%,
      0 100%,
      0 60%,
      0 8%
    );
    clip-path: polygon(13% 0, 100% 0, 100% 63%, 100% 100%, 0 100%, 0 60%, 0 8%);
    -moz-clip-path: polygon(
      13% 0,
      100% 0,
      100% 63%,
      100% 100%,
      0 100%,
      0 60%,
      0 8%
    );
  }

  &__disabled {
    position: relative;
    background-color: $dis;
    mix-blend-mode: normal;
    opacity: 0.4;
    cursor: auto;
    box-sizing: border-box;
    width: 312px;
    height: 472px;

    border-radius: 12px;

    text-align: left;
    overflow: hidden;
    -webkit-clip-path: polygon(
      13% 0,
      100% 0,
      100% 63%,
      100% 100%,
      0 100%,
      0 60%,
      0 8%
    );
    clip-path: polygon(13% 0, 100% 0, 100% 63%, 100% 100%, 0 100%, 0 60%, 0 8%);
    -moz-clip-path: polygon(
      13% 0,
      100% 0,
      100% 63%,
      100% 100%,
      0 100%,
      0 60%,
      0 8%
    );
  }

  &__subtitle {
    font-family: "Trebuchet MS";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 5px;

    transition-duration: 0.6s;

    &_hover {
      color: #e62e7a;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #000;

    &_type_disabled {
      color: $dis;
    }
  }

  &__spec {
    margin: 0 0 14px;
    font-family: "Trebuchet MS";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: #000;

    &_type_disabled {
      color: $dis;
    }
  }

  &__desc {
    font-family: "Trebuchet MS";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
  }
  &__bonus {
    font-family: "Trebuchet MS";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    max-width: 130px;
    margin: 0;
  }

  &__desc-accent {
    font-size: 16px;
    font-weight: bold;
    color: inherit;
  }

  &__image {
    background-image: url(../../images/cat.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 360px;
    height: 355px;
    position: absolute;
    left: -25px;
    bottom: -88px;
  }

  &__mark {
    background-color: $dc;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    right: 12px;
    text-align: center;
    transition-duration: 0.6s;

    &_type_active {
      background-color: $ac;
    }
    &_type_disabled {
      background-color: $dis;
    }

    &_hovered_active {
      background-color: $ach;
    }
    &_hovered_default {
      background-color: $dch;
    }
  }

  &__weigth-unit {
    font-size: 21px;
    line-height: 22px;
    margin: 0;

    color: #fff;
  }
  &__weigth {
    margin: 13px 0 7px;
    font-size: 42px;
    line-height: 22px;
    color: #fff;
  }

  &__caption {
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    color: #fff;

    &_type_disabled {
      color: #ff6;
    }
  }

  &__caption-accent {
    font-size: 13px;

    font-weight: bold;
    color: $dc;
  }
  &__captionLink {
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    color: $dc;
    border-bottom: 1px dashed $dc;
    margin: 0 0 0 5px;
    transition-duration: 0.6s;

    &_hovered_active {
      color: $ach;
    }
    &_hovered_default {
      color: $dch;
    }
  }
}

@media (max-width: 1200px) {
  .card {
    margin-bottom: 40px;
  }
}
